.wrapper {
    background: #fff;
    padding: 24px;
    border-radius: 16px;
}

.row {
    align-items: center;
}

.value {
    font-size: 26px;
    font-weight: 700;
    line-height: 30px;
}

.name {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    margin-top: 4px;
    color: #475467;
}

.extra {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    margin-top: 4px;
}

.icon {
    padding: 12px;
    border-radius: 8px;
    background: #FEF3F2;
    font-size: 24px;
    color: #D92D20;
    display: flex;
    margin-right: 12px;
    &:empty {
        display: none;
    }
}