.card {
    padding-bottom: 16px;
    border-bottom: 1px solid #E4E7EC;
    & + & {
        margin-top: 16px;
    }
}

.delete {
    display: flex;
    justify-content: flex-end;
}

.col {
    min-width: 20%;
    max-width: 20%;
}